# =========================
# Dataset / Data Augmentation
# =========================
data_dir: "/scratch/vt2370/dataset/cc3m_all/train"
batch_size: 516                 # increase if GPU allows for stronger contrastive signal
num_workers: 8
image_size: 96                    # fixed, can't change

augmentations:
  random_resized_crop: 96
  horizontal_flip: True
  color_jitter:
    brightness: 0.6
    contrast: 0.6
    saturation: 0.6
    hue: 0.1
  random_grayscale: 0.2           # added for robustness
  gaussian_blur: True
  normalize:
    mean: [0.485, 0.456, 0.406]
    std: [0.229, 0.224, 0.225]

# =========================
# Model Parameters
# =========================
backbone: "resnet50"
feature_dim: 512

projection:
  num_layers: 2
  hidden_dim: 1024
  output_dim: 128

# =========================
# Training Parameters
# =========================
epochs: 70
learning_rate: 0.0015            # slightly higher for faster convergence
lr_schedule:
  type: "cosine"
  warmup_epochs: 5                # fewer warmup epochs since total epochs are 50

optimizer: "AdamW"
weight_decay: 1e-4
temperature: 0.5

fp16: True
multi_gpu: True

# =========================
# Output / Artifacts
# =========================
save_dir: "./artif"
save_backbone_name: "resnet_backbone69.pth"
save_every: 5                     # save more frequently

# =========================
# Reproducibility
# =========================
seed: 42
